includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

    level: 3

    paths:
        - app
        - bootstrap
        - database/factories
        - routes
